@page "/user/delete/{UserId:int}"
@inherits UserBasePageClass

<PageTitle>Delete User</PageTitle>

<br />

@if (UserDTO is null)
{
	<LoadingOrNotFoundWarningComponent ValueToShow="User" />
    return;
}

<ConfirmDeleteComponent ItemName="User" />

<br />

<MudGrid>
    <MudItem sm="7">
        <MudCard>
            <MudCardContent>
                <ViewDeleteUserComponent UserDTO="UserDTO" />
            </MudCardContent>
            <MudCardActions>
                <button class="btn btn-danger" @onclick="DeleteUser">Delete</button>
                &nbsp;
                <a href="/users/index" class="btn btn-secondary">Back to List</a>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>
