@page "/user/edit/{UserId:int}"
@inherits UserBasePageClass

<PageTitle>Edit User</PageTitle>

@if (UserDTO == null)
{
	<LoadingOrNotFoundWarningComponent ValueToShow="User" />
    return;
}

@if (UserNumberExists)
{
    <UserNumberExistsWarningComponent UserNumber="@UserDTO.UserNumber" />
    <br />
}

<EditForm Model="@UserDTO" OnValidSubmit="UpdateUser">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <CreateEditUserComponent UserDTO="@UserDTO" />
                <MudCardActions>
                    <input type="submit" class="btn btn-primary" value="Update" />
                    &nbsp;
                    <a href="/users/index" class="btn btn-secondary">Cancel</a>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>    

</EditForm>