@page "/users/index"
@inherits UserBasePageClass

<PageTitle>Users</PageTitle>

<a href="/user/create" class="btn btn-primary">Create User</a>

<br />
<br />

@if (UserDTOs == null)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Users...</MudAlert>
    return;
}

@if (UserDTOs.Count == 0)
{
    <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">No Users found.</MudAlert>
    return;
}

<MudPaper Class="pa-4 mb-2">
    <MudSelect
        T="int"
        Label="Filter Users"
        @bind-Value="SelectedFilterOption"
        @bind-Value:after="@FilterUsers"
        style="width: 50px">
        @foreach (var userStatusDTO in UserStatusDTOs)
        {
            <MudSelectItem Value="@userStatusDTO.StatusId">@userStatusDTO.StatusName</MudSelectItem>
		}
    </MudSelect>
</MudPaper>

<br />

<ListUsersComponent UserDTOs="FilteredUserDTOs" />
